<div class="axil-signin-area">

  <!-- Start Header -->
  <div class="signin-header">
      <div class="row align-items-center">
          <div class="col-md-6">
              <a [routerLink]="['/']" class="site-logo"><img src="./assets/images/logo/logo.png" alt="logo"></a>
          </div>
          <div class="col-md-6">
              <div class="singin-header-btn">
                  <p>Already a member?</p>
                  <a routerLink="/auth/login" class="axil-btn btn-bg-secondary sign-up-btn">Sign In</a>
              </div>
          </div>
      </div>
  </div>
  <!-- End Header -->

  <div class="row">
      <div class="col-xl-4 col-lg-6">
          <div class="axil-signin-banner bg_image bg_image--10">
              <h3 class="title">We Offer the Best Products</h3>
          </div>
      </div>
      <div class="col-lg-6 offset-xl-2">
          <div class="axil-signin-form-wrap">
              <div class="axil-signin-form">
                  <h3 class="title">I'm New Here</h3>
                  <p class="b2 mb--55">Enter your detail below</p>
                  <form [formGroup]="grupoForm"  class="singin-form">
                      <div class="form-group">
                          <label>Name *</label>
                          <input type="text" formControlName="name" class="form-control" name="username" >
                      </div>
                      <div class="form-group">
                          <label>Last Name *</label>
                          <input type="text" formControlName="lastname" class="form-control" name="username" >
                      </div>
                      <div class="form-group">
                          <label>Telephone *</label>
                          <input type="text" formControlName="telephone" class="form-control" name="username" >
                      </div>
                      <div class="form-group">
                          <label>Email *</label>
                          <input type="email" formControlName="email" class="form-control" name="email" >
                      </div>
                      <div class="form-group">
                          <label>Password *</label>
                          <input type="password" formControlName="password" class="form-control" name="password" >
                      </div>
                      <div class="form-group">
                          <label>Retype Password *</label>
                          <input type="password" formControlName="repassword" class="form-control" name="password" >
                      </div>
                      <div class="form-group">
                          <button type="submit" (click)="save()" class="axil-btn btn-bg-primary submit-btn">Create Account</button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>
