<main class="main-wrapper" *ngIf="product_selected">
  <!-- Start Shop Area  -->
  <div class="axil-single-product-area bg-color-white">
      <div class="single-product-thumb axil-section-gap pb--20 pb_sm--0 bg-vista-white">
          <div class="container">
              <div class="row row--50">
                  <div class="col-lg-6 mb--40">
                      <div class="row">
                          <div class="col-lg-12">
                              <div class="product-large-thumbnail-2 single-product-thumbnail axil-product slick-layout-wrapper--15 axil-slick-arrow arrow-both-side-3">
                                    <div class="thumbnail" *ngFor="let galeria of product_selected.imagenes">
                                      <img src="{{url}}/imagenes/{{galeria.imagen}}" alt="Product Images">
                                    </div>
                              </div>
                          </div>
                          <div class="col-lg-12">
                              <div class="small-thumb-wrapper product-small-thumb-2 small-thumb-style-two small-thumb-style-three">
                                <ng-container *ngFor="let galeria of product_selected.imagenes">
                                  <div class="small-thumb-img ">
                                    <img src="{{url}}/imagenes/{{galeria.imagen}}" alt="samll-thumb">
                                  </div>
                                </ng-container>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-6 mb--40">
                      <div class="single-product-content">
                          <div class="inner">
                              <h2 class="product-title">{{product_selected.titulo}}</h2>
                              <span class="price-amount">{{product_selected.precio_dolar}} USD</span>
                              <div class="product-rating">
                                  <div class="star-rating">
                                      <i class="fas fa-star"></i>
                                      <i class="fas fa-star"></i>
                                      <i class="fas fa-star"></i>
                                      <i class="fas fa-star"></i>
                                      <i class="far fa-star"></i>
                                  </div>
                                  <div class="review-link">
                                      <a href="#">(<span>2</span> customer reviews)</a>
                                  </div>
                              </div>
                              <ul class="product-meta">
                                  <li><i class="fal fa-check"></i>In stock</li>
                                  <li><i class="fal fa-check"></i>Free delivery available</li>
                                  <li><i class="fal fa-check"></i>Sales 30% Off Use Code: MOTIVE30</li>
                              </ul>
                              <p class="description">{{product_selected.resumen}}</p>

                              <div class="product-variations-wrapper">
                              </div>

                              <!-- Start Product Action Wrapper  -->
                              <div class="product-action-wrapper d-flex-center">
                                  <!-- Start Quentity Action  -->
                                  <div class="pro-qty mr--20"><input type="text" id="qty-cart" value="1"></div>
                                  <!-- End Quentity Action  -->

                                  <!-- Start Product Action  -->
                                  <ul class="product-action d-flex-center mb--0">
                                      <li class="add-to-cart"><a href="#" onclick="return false;" (click)="addCart(product_selected)" class="axil-btn btn-bg-primary">Add to Cart</a></li>
                                      <li class="wishlist"><a href="wishlist.html" class="axil-btn wishlist-btn"><i class="far fa-heart"></i></a></li>
                                  </ul>
                                  <!-- End Product Action  -->

                              </div>
                              <!-- End Product Action Wrapper  -->

                            </div>
                          </div>
                           <!-- End .row -->
                           <div class="row">
                            <div class="col-lg-12">
                                <ul class="pro-des-features">
                                    <li class="single-features">
                                        <div class="icon">
                                            <img src="assets/images/product/product-thumb/icon-3.png" alt="icon">
                                        </div>
                                        Easy Returns
                                    </li>
                                    <li class="single-features">
                                        <div class="icon">
                                            <img src="assets/images/product/product-thumb/icon-2.png" alt="icon">
                                        </div>
                                        Quality Service
                                    </li>
                                    <li class="single-features">
                                        <div class="icon">
                                            <img src="assets/images/product/product-thumb/icon-1.png" alt="icon">
                                        </div>
                                        Original Product
                                    </li>
                                </ul>
                                <!-- End .pro-des-features -->
                            </div>
                        </div>
                        <!-- End .row -->
                        </div>
                        <div class="col-lg-12 mb--40">
                    <div class="woocommerce-tabs wc-tabs-wrapper bg-vista-white">
                      <div class="container">
                          <!-- End .product-desc-wrapper -->
                          <div class="additional-info pb--40 pb_sm--20">
                              <h4 class="mb--60">Additional Information</h4>
                              <div class="product-additional-info" [innerHTML]="product_selected.descripcion">
                              </div>
                              <!-- End .product-additional-info -->
                          </div>

                          <div class="reviews-wrapper">
                              <h4 class="mb--60">Reviews</h4>
                              <div class="row">
                                  <div class="col-lg-6 mb--40">
                                      <div class="axil-comment-area pro-desc-commnet-area">
                                          <h5 class="title">01 Review for this product</h5>
                                          <ul class="comment-list">
                                              <!-- Start Single Comment  -->
                                              <li class="comment">
                                                  <div class="comment-body">
                                                      <div class="single-comment">
                                                          <div class="comment-img">
                                                              <img src="./assets/images/blog/author-image-4.png" alt="Author Images">
                                                          </div>
                                                          <div class="comment-inner">
                                                              <h6 class="commenter">
                                                                  <a class="hover-flip-item-wrapper" href="#">
                                                                      <span class="hover-flip-item">
                                                                          <span data-text="Cameron Williamson">Eleanor Pena</span>
                                                                      </span>
                                                                  </a>
                                                                  <span class="commenter-rating ratiing-four-star">
                                                                      <a href="#"><i class="fas fa-star"></i></a>
                                                                      <a href="#"><i class="fas fa-star"></i></a>
                                                                      <a href="#"><i class="fas fa-star"></i></a>
                                                                      <a href="#"><i class="fas fa-star"></i></a>
                                                                      <a href="#"><i class="fas fa-star empty-rating"></i></a>
                                                                  </span>
                                                              </h6>
                                                              <div class="comment-text">
                                                                  <p>“We’ve created a full-stack structure for our working workflow processes, were from the funny the century initial all the made, have spare to negatives. ” </p>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </li>
                                              <!-- End Single Comment  -->

                                              <!-- Start Single Comment  -->
                                              <li class="comment">
                                                  <div class="comment-body">
                                                      <div class="single-comment">
                                                          <div class="comment-img">
                                                              <img src="./assets/images/blog/author-image-4.png" alt="Author Images">
                                                          </div>
                                                          <div class="comment-inner">
                                                              <h6 class="commenter">
                                                                  <a class="hover-flip-item-wrapper" href="#">
                                                                      <span class="hover-flip-item">
                                                                          <span data-text="Rahabi Khan">Courtney Henry</span>
                                                                      </span>
                                                                  </a>
                                                                  <span class="commenter-rating ratiing-four-star">
                                                                      <a href="#"><i class="fas fa-star"></i></a>
                                                                      <a href="#"><i class="fas fa-star"></i></a>
                                                                      <a href="#"><i class="fas fa-star"></i></a>
                                                                      <a href="#"><i class="fas fa-star"></i></a>
                                                                      <a href="#"><i class="fas fa-star"></i></a>
                                                                  </span>
                                                              </h6>
                                                              <div class="comment-text">
                                                                  <p>“We’ve created a full-stack structure for our working workflow processes, were from the funny the century initial all the made, have spare to negatives. ”</p>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </li>
                                              <!-- End Single Comment  -->

                                              <!-- Start Single Comment  -->
                                              <li class="comment">
                                                  <div class="comment-body">
                                                      <div class="single-comment">
                                                          <div class="comment-img">
                                                              <img src="./assets/images/blog/author-image-5.png" alt="Author Images">
                                                          </div>
                                                          <div class="comment-inner">
                                                              <h6 class="commenter">
                                                                  <a class="hover-flip-item-wrapper" href="#">
                                                                      <span class="hover-flip-item">
                                                                          <span data-text="Rahabi Khan">Devon Lane</span>
                                                                      </span>
                                                                  </a>
                                                                  <span class="commenter-rating ratiing-four-star">
                                                                      <a href="#"><i class="fas fa-star"></i></a>
                                                                      <a href="#"><i class="fas fa-star"></i></a>
                                                                      <a href="#"><i class="fas fa-star"></i></a>
                                                                      <a href="#"><i class="fas fa-star"></i></a>
                                                                      <a href="#"><i class="fas fa-star"></i></a>
                                                                  </span>
                                                              </h6>
                                                              <div class="comment-text">
                                                                  <p>“We’ve created a full-stack structure for our working workflow processes, were from the funny the century initial all the made, have spare to negatives. ” </p>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </li>
                                              <!-- End Single Comment  -->
                                          </ul>
                                      </div>
                                      <!-- End .axil-commnet-area -->
                                  </div>
                                  <!-- End .col -->
                                  <div class="col-lg-6 mb--40">
                                      <!-- Start Comment Respond  -->
                                      <div class="comment-respond pro-des-commend-respond mt--0">
                                          <h5 class="title mb--30">Add a Review</h5>
                                          <p>Your email address will not be published. Required fields are marked *</p>
                                          <div class="rating-wrapper d-flex-center mb--40">
                                              Your Rating <span class="require">*</span>
                                              <div class="reating-inner ml--20">
                                                  <a href="#"><i class="fal fa-star"></i></a>
                                                  <a href="#"><i class="fal fa-star"></i></a>
                                                  <a href="#"><i class="fal fa-star"></i></a>
                                                  <a href="#"><i class="fal fa-star"></i></a>
                                                  <a href="#"><i class="fal fa-star"></i></a>
                                              </div>
                                          </div>

                                          <form action="#">
                                              <div class="row">
                                                  <div class="col-12">
                                                      <div class="form-group">
                                                          <label>Other Notes (optional)</label>
                                                          <textarea name="message" placeholder="Your Comment"></textarea>
                                                      </div>
                                                  </div>
                                                  <div class="col-lg-6 col-md-6 col-12">
                                                      <div class="form-group">
                                                          <label>Name <span class="require">*</span></label>
                                                          <input id="name" type="text">
                                                      </div>
                                                  </div>
                                                  <div class="col-lg-6 col-md-6 col-12">
                                                      <div class="form-group">
                                                          <label>Email <span class="require">*</span> </label>
                                                          <input id="email" type="email">
                                                      </div>
                                                  </div>
                                                  <div class="col-lg-12">
                                                      <div class="form-submit">
                                                          <button type="submit" id="submit" class="axil-btn btn-bg-primary w-auto">Send Message</button>
                                                      </div>
                                                  </div>
                                              </div>
                                          </form>
                                      </div>
                                      <!-- End Comment Respond  -->
                                  </div>
                                  <!-- End .col -->
                              </div>
                          </div>
                          <!-- End .reviews-wrapper -->
                      </div>
                  </div>

                  </div>
              </div>
          </div>
      </div>
      <!-- End .single-product-thumb -->

  </div>
  <!-- End Shop Area  -->

  <!-- Start Recently Viewed Product Area  -->
  <div class="axil-product-area bg-color-white axil-section-gap pb--50 pb_sm--30">
      <div class="container">
          <div class="section-title-wrapper">
              <span class="title-highlighter highlighter-primary"><i class="far fa-shopping-basket"></i> Your Recently</span>
              <h2 class="title">Viewed Items</h2>
          </div>
          <div class="recent-product-activation slick-layout-wrapper--15 axil-slick-arrow arrow-top-slide">
              <div class="slick-single-layout">
                  <div class="axil-product">
                      <div class="thumbnail">
                          <a href="single-product.html">
                              <img src="assets/images/product/electric/product-01.png" alt="Product Images">
                          </a>
                          <div class="label-block label-right">
                              <div class="product-badget">20% OFF</div>
                          </div>
                          <div class="product-hover-action">
                              <ul class="cart-action">
                                  <li class="wishlist"><a href="wishlist.html"><i class="far fa-heart"></i></a></li>
                                  <li class="select-option"><a href="cart.html">Add to Cart</a></li>
                                  <li class="quickview"><a href="#" data-bs-toggle="modal" data-bs-target="#quick-view-modal"><i class="far fa-eye"></i></a></li>
                              </ul>
                          </div>
                      </div>
                      <div class="product-content">
                          <div class="inner">
                              <h5 class="title"><a href="single-product.html">3D™ wireless headset</a></h5>
                              <div class="product-price-variant">
                                  <span class="price old-price">$30</span>
                                  <span class="price current-price">$30</span>
                              </div>
                              <div class="color-variant-wrapper">
                                  <ul class="color-variant">
                                      <li class="color-extra-01 active"><span><span class="color"></span></span>
                                      </li>
                                      <li class="color-extra-02"><span><span class="color"></span></span>
                                      </li>
                                      <li class="color-extra-03"><span><span class="color"></span></span>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- End .slick-single-layout -->
              <div class="slick-single-layout">
                  <div class="axil-product">
                      <div class="thumbnail">
                          <a href="single-product.html">
                              <img src="assets/images/product/electric/product-02.png" alt="Product Images">
                          </a>
                          <div class="label-block label-right">
                              <div class="product-badget">40% OFF</div>
                          </div>
                          <div class="product-hover-action">
                              <ul class="cart-action">
                                  <li class="wishlist"><a href="wishlist.html"><i class="far fa-heart"></i></a></li>
                                  <li class="select-option"><a href="cart.html">Add to Cart</a></li>
                                  <li class="quickview"><a href="#" data-bs-toggle="modal" data-bs-target="#quick-view-modal"><i class="far fa-eye"></i></a></li>
                              </ul>
                          </div>
                      </div>
                      <div class="product-content">
                          <div class="inner">
                              <h5 class="title"><a href="single-product.html">Media remote</a></h5>
                              <div class="product-price-variant">
                                  <span class="price old-price">$80</span>
                                  <span class="price current-price">$50</span>
                              </div>
                              <div class="color-variant-wrapper">
                                  <ul class="color-variant">
                                      <li class="color-extra-01 active"><span><span class="color"></span></span>
                                      </li>
                                      <li class="color-extra-02"><span><span class="color"></span></span>
                                      </li>
                                      <li class="color-extra-03"><span><span class="color"></span></span>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- End .slick-single-layout -->
              <div class="slick-single-layout">
                  <div class="axil-product">
                      <div class="thumbnail">
                          <a href="single-product.html">
                              <img src="assets/images/product/electric/product-03.png" alt="Product Images">
                          </a>
                          <div class="label-block label-right">
                              <div class="product-badget">30% OFF</div>
                          </div>
                          <div class="product-hover-action">
                              <ul class="cart-action">
                                  <li class="wishlist"><a href="wishlist.html"><i class="far fa-heart"></i></a></li>
                                  <li class="select-option"><a href="cart.html">Add to Cart</a></li>
                                  <li class="quickview"><a href="#" data-bs-toggle="modal" data-bs-target="#quick-view-modal"><i class="far fa-eye"></i></a></li>
                              </ul>
                          </div>
                      </div>
                      <div class="product-content">
                          <div class="inner">
                              <h5 class="title"><a href="single-product.html">HD camera</a></h5>
                              <div class="product-price-variant">
                                  <span class="price old-price">$60</span>
                                  <span class="price current-price">$45</span>
                              </div>
                              <div class="color-variant-wrapper">
                                  <ul class="color-variant">
                                      <li class="color-extra-01 active"><span><span class="color"></span></span>
                                      </li>
                                      <li class="color-extra-02"><span><span class="color"></span></span>
                                      </li>
                                      <li class="color-extra-03"><span><span class="color"></span></span>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- End .slick-single-layout -->
              <div class="slick-single-layout">
                  <div class="axil-product">
                      <div class="thumbnail">
                          <a href="single-product.html">
                              <img src="assets/images/product/electric/product-04.png" alt="Product Images">
                          </a>
                          <div class="label-block label-right">
                              <div class="product-badget">50% OFF</div>
                          </div>
                          <div class="product-hover-action">
                              <ul class="cart-action">
                                  <li class="wishlist"><a href="wishlist.html"><i class="far fa-heart"></i></a></li>
                                  <li class="select-option"><a href="cart.html">Add to Cart</a></li>
                                  <li class="quickview"><a href="#" data-bs-toggle="modal" data-bs-target="#quick-view-modal"><i class="far fa-eye"></i></a></li>
                              </ul>
                          </div>
                      </div>
                      <div class="product-content">
                          <div class="inner">
                              <h5 class="title"><a href="single-product.html">PS Remote Control</a></h5>
                              <div class="product-price-variant">
                                  <span class="price old-price">$70</span>
                                  <span class="price current-price">$35</span>
                              </div>
                              <div class="color-variant-wrapper">
                                  <ul class="color-variant">
                                      <li class="color-extra-01 active"><span><span class="color"></span></span>
                                      </li>
                                      <li class="color-extra-02"><span><span class="color"></span></span>
                                      </li>
                                      <li class="color-extra-03"><span><span class="color"></span></span>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- End .slick-single-layout -->
              <div class="slick-single-layout">
                  <div class="axil-product">
                      <div class="thumbnail">
                          <a href="single-product.html">
                              <img src="assets/images/product/electric/product-05.png" alt="Product Images">
                          </a>
                          <div class="label-block label-right">
                              <div class="product-badget">25% OFF</div>
                          </div>
                          <div class="product-hover-action">
                              <ul class="cart-action">
                                  <li class="wishlist"><a href="wishlist.html"><i class="far fa-heart"></i></a></li>
                                  <li class="select-option"><a href="cart.html">Add to Cart</a></li>
                                  <li class="quickview"><a href="#" data-bs-toggle="modal" data-bs-target="#quick-view-modal"><i class="far fa-eye"></i></a></li>
                              </ul>
                          </div>
                      </div>
                      <div class="product-content">
                          <div class="inner">
                              <h5 class="title"><a href="single-product.html">PS Remote Control</a></h5>
                              <div class="product-price-variant">
                                  <span class="price old-price">$50</span>
                                  <span class="price current-price">$38</span>
                              </div>
                              <div class="color-variant-wrapper">
                                  <ul class="color-variant">
                                      <li class="color-extra-01 active"><span><span class="color"></span></span>
                                      </li>
                                      <li class="color-extra-02"><span><span class="color"></span></span>
                                      </li>
                                      <li class="color-extra-03"><span><span class="color"></span></span>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- End .slick-single-layout -->
              <!-- End .slick-single-layout -->
              <div class="slick-single-layout">
                  <div class="axil-product">
                      <div class="thumbnail">
                          <a href="single-product.html">
                              <img src="assets/images/product/electric/product-03.png" alt="Product Images">
                          </a>
                          <div class="label-block label-right">
                              <div class="product-badget">30% OFF</div>
                          </div>
                          <div class="product-hover-action">
                              <ul class="cart-action">
                                  <li class="wishlist"><a href="wishlist.html"><i class="far fa-heart"></i></a></li>
                                  <li class="select-option"><a href="cart.html">Add to Cart</a></li>
                                  <li class="quickview"><a href="#" data-bs-toggle="modal" data-bs-target="#quick-view-modal"><i class="far fa-eye"></i></a></li>
                              </ul>
                          </div>
                      </div>
                      <div class="product-content">
                          <div class="inner">
                              <h5 class="title"><a href="single-product.html">HD camera</a></h5>
                              <div class="product-price-variant">
                                  <span class="price old-price">$60</span>
                                  <span class="price current-price">$45</span>
                              </div>
                              <div class="color-variant-wrapper">
                                  <ul class="color-variant">
                                      <li class="color-extra-01 active"><span><span class="color"></span></span>
                                      </li>
                                      <li class="color-extra-02"><span><span class="color"></span></span>
                                      </li>
                                      <li class="color-extra-03"><span><span class="color"></span></span>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- End .slick-single-layout -->
              <div class="slick-single-layout">
                  <div class="axil-product">
                      <div class="thumbnail">
                          <a href="single-product.html">
                              <img src="assets/images/product/electric/product-04.png" alt="Product Images">
                          </a>
                          <div class="label-block label-right">
                              <div class="product-badget">50% OFF</div>
                          </div>
                          <div class="product-hover-action">
                              <ul class="cart-action">
                                  <li class="wishlist"><a href="wishlist.html"><i class="far fa-heart"></i></a></li>
                                  <li class="select-option"><a href="cart.html">Add to Cart</a></li>
                                  <li class="quickview"><a href="#" data-bs-toggle="modal" data-bs-target="#quick-view-modal"><i class="far fa-eye"></i></a></li>
                              </ul>
                          </div>
                      </div>
                      <div class="product-content">
                          <div class="inner">
                              <h5 class="title"><a href="single-product.html">PS Remote Control</a></h5>
                              <div class="product-price-variant">
                                  <span class="price old-price">$70</span>
                                  <span class="price current-price">$35</span>
                              </div>
                              <div class="color-variant-wrapper">
                                  <ul class="color-variant">
                                      <li class="color-extra-01 active"><span><span class="color"></span></span>
                                      </li>
                                      <li class="color-extra-02"><span><span class="color"></span></span>
                                      </li>
                                      <li class="color-extra-03"><span><span class="color"></span></span>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- End .slick-single-layout -->
              <div class="slick-single-layout">
                  <div class="axil-product">
                      <div class="thumbnail">
                          <a href="single-product.html">
                              <img src="assets/images/product/electric/product-05.png" alt="Product Images">
                          </a>
                          <div class="label-block label-right">
                              <div class="product-badget">25% OFF</div>
                          </div>
                          <div class="product-hover-action">
                              <ul class="cart-action">
                                  <li class="wishlist"><a href="wishlist.html"><i class="far fa-heart"></i></a></li>
                                  <li class="select-option"><a href="cart.html">Add to Cart</a></li>
                                  <li class="quickview"><a href="#" data-bs-toggle="modal" data-bs-target="#quick-view-modal"><i class="far fa-eye"></i></a></li>
                              </ul>
                          </div>
                      </div>
                      <div class="product-content">
                          <div class="inner">
                              <h5 class="title"><a href="single-product.html">PS5 Remote Control</a></h5>
                              <div class="product-price-variant">
                                  <span class="price old-price">$50</span>
                                  <span class="price current-price">$38</span>
                              </div>
                              <div class="color-variant-wrapper">
                                  <ul class="color-variant">
                                      <li class="color-extra-01 active"><span><span class="color"></span></span>
                                      </li>
                                      <li class="color-extra-02"><span><span class="color"></span></span>
                                      </li>
                                      <li class="color-extra-03"><span><span class="color"></span></span>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- End .slick-single-layout -->

          </div>
      </div>
  </div>
  <!-- End Recently Viewed Product Area  -->
  <!-- Start Axil Newsletter Area  -->
  <div class="axil-newsletter-area axil-section-gap pt--0">
      <div class="container">
          <div class="etrade-newsletter-wrapper bg_image bg_image--5">
              <div class="newsletter-content">
                  <span class="title-highlighter highlighter-primary2"><i class="fas fa-envelope-open"></i>Newsletter</span>
                  <h2 class="title mb--40 mb_sm--30">Get weekly update</h2>
                  <div class="input-group newsletter-form">
                      <div class="position-relative newsletter-inner mb--15">
                          <input placeholder="example@gmail.com" type="text">
                      </div>
                      <button type="submit" class="axil-btn mb--15">Subscribe</button>
                  </div>
              </div>
          </div>
      </div>
      <!-- End .container -->
  </div>
  <!-- End Axil Newsletter Area  -->
</main>
