<main class="main-wrapper">
  <!-- Start Breadcrumb Area  -->
  <div class="axil-breadcrumb-area">
      <div class="container">
          <div class="row align-items-center">
              <div class="col-lg-6 col-md-8">
                  <div class="inner">
                      <ul class="axil-breadcrumb">
                          <li class="axil-breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
                          <li class="separator"></li>
                          <li class="axil-breadcrumb-item active" aria-current="page">My Account</li>
                      </ul>
                      <!-- <h1 class="title">Explore All Products</h1> -->
                  </div>
              </div>
              <!-- <div class="col-lg-6 col-md-4">
                  <div class="inner">
                      <div class="bradcrumb-thumb">
                          <img src="assets/images/product/product-45.png" alt="Image">
                      </div>
                  </div>
              </div> -->
          </div>
      </div>
  </div>
  <!-- End Breadcrumb Area  -->

  <!-- Start My Account Area  -->
  <div class="axil-section-gap">
      <div class="container">
          <div class="axil-dashboard-warp">
              <div class="axil-dashboard-author">
                  <div class="media">
                      <!-- <div class="thumbnail">
                          <img src="./assets/images/product/product-big-08.png" style="max-width: 50px;" width="50" alt="Hello {{nombre}}">
                      </div> -->
                      <div class="media-body">
                          <h3 class="title mb-0">{{nombre}} {{paterno}} {{materno}}</h3>
                          <span class="joining-date">Member Since {{ fecha | date:'short'}}</span>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-xl-3 col-md-4">
                      <aside class="axil-dashboard-aside">
                          <nav class="axil-dashboard-nav">
                              <div class="nav nav-tabs" role="tablist">
                                  <a class="nav-item nav-link active" data-bs-toggle="tab" href="#nav-dashboard" role="tab" aria-selected="true"><i class="fas fa-th-large"></i>Dashboard</a>
                                  <a class="nav-item nav-link" data-bs-toggle="tab" href="#nav-orders" role="tab" aria-selected="false"><i class="fas fa-shopping-basket"></i>Orders</a>
                                  <!-- <a class="nav-item nav-link" data-bs-toggle="tab" href="#nav-downloads" role="tab" aria-selected="false"><i class="fas fa-file-download"></i>Downloads</a> -->
                                  <a class="nav-item nav-link" data-bs-toggle="tab" href="#nav-address" role="tab" aria-selected="false"><i class="fas fa-home"></i>Addresses</a>
                                  <a class="nav-item nav-link" data-bs-toggle="tab" href="#nav-account" role="tab" aria-selected="false"><i class="fas fa-user"></i>Account Details</a>
                                  <a class="nav-item nav-link cursor" (click)="logout()"><i class="fal fa-sign-out"></i>Logout</a>
                              </div>
                          </nav>
                      </aside>
                  </div>
                  <div class="col-xl-9 col-md-8">
                      <div class="tab-content">
                          <div class="tab-pane fade show active" id="nav-dashboard" role="tabpanel">
                              <div class="axil-dashboard-overview">
                                  <div class="welcome-text">Hello {{nombre}}  (not <span>{{nombre}}?</span> <a (click)="logout()" style="cursor: pointer;">Log Out</a>)</div>
                                  <p>From your account dashboard you can view your recent orders, manage your shipping and billing addresses, and edit your password and account details.</p>
                              </div>
                          </div>
                          <div class="tab-pane fade" id="nav-orders" role="tabpanel">
                              <div class="axil-dashboard-order">
                                  <div class="table-responsive">
                                      <table *ngIf="!viewOrder" class="table">
                                          <thead>
                                              <tr>
                                                  <th scope="col">Order</th>
                                                  <th scope="col">Date</th>
                                                  <th scope="col">Status</th>
                                                  <th scope="col">Total</th>
                                                  <th scope="col">Actions</th>
                                              </tr>
                                          </thead>
                                          <tbody>
                                              <ng-container *ngFor="let order of orders">
                                                <tr>
                                                  <th scope="row">#{{order.id | number:'3.0-0'}}</th>
                                                  <td>{{order.fecha | date:'short'}}</td>
                                                  <td>Processing</td>
                                                  <td>${{order.total}}</td>
                                                  <td><a (click)="view( order )" class="axil-btn view-btn cursor">View</a></td>
                                                </tr>
                                              </ng-container>
                                          </tbody>
                                      </table>
                                      <table *ngIf="viewOrder" class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">Titulo</th>
                                                <th scope="col">Price</th>
                                                <th scope="col">Cantidad</th>
                                                <th scope="col">Sub total</th>
                                                <th scope="col">Imagen</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <ng-container *ngFor="let orderId of orderId">
                                              <tr>
                                                <td>{{orderId.titulo}}</td>
                                                <td>${{orderId.precio_dolar}}</td>
                                                <td>{{orderId.cantidad}}</td>
                                                <td>${{orderId.subtotal}}</td>
                                                <td> <img class="img-fluid" style="max-width: 80px;" src="{{url}}imagenes/{{orderId.imagen}}" alt=""></td>
                                              </tr>
                                            </ng-container>
                                            <tr>
                                              <td colspan="4"></td>
                                              <td> <a (click)="view( null )" class="axil-btn view-btn cursor">Back</a> </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                  </div>
                              </div>
                          </div>
                          <div class="tab-pane fade" id="nav-downloads" role="tabpanel">
                              <div class="axil-dashboard-order">
                                  <p>You don't have any download</p>
                              </div>
                          </div>
                          <div class="tab-pane fade" id="nav-address" role="tabpanel">
                              <div class="axil-dashboard-address">
                                  <p class="notice-text">The following addresses will be used on the checkout page by default.</p>
                                  <div class="row row--30">
                                    <ng-container *ngFor="let list_address of listAdressClient; let i=index">
                                      <div class="col-lg-6">
                                        <div class="address-info mb--40">
                                          <div class="addrss-header d-flex align-items-center justify-content-between">
                                            <h4 class="title mb-0">Address: #{{ i+1 }}</h4>
                                            <a (click)="selecDireccion( i )" class="address-edit"><i class="far fa-edit"></i></a>
                                          </div>
                                          <ul class="address-details">
                                            <li>Name: {{list_address.name}}  {{list_address.lastname}} </li>
                                            <li>Email: {{list_address.email}} </li>
                                            <li>Phone: {{list_address.phone}} </li>
                                            <li>{{list_address.address}} </li>
                                            <li>{{list_address.city}} {{list_address.region}} {{list_address.country_name}} </li>
                                          </ul>
                                        </div>
                                      </div>
                                    </ng-container>
                                  </div>
                                  <form [formGroup]="grupoForm" class="singin-form">
                                    <div class="axil-checkout-billing">
                                      <h4 class="title mb--40">Billing details</h4>
                                      <div class="row">
                                          <div class="col-lg-6">
                                              <div class="form-group">
                                                  <label>First Name <span>*</span></label>
                                                  <input type="text" id="first-name" formControlName="name" placeholder="Name">
                                              </div>
                                          </div>
                                          <div class="col-lg-6">
                                              <div class="form-group">
                                                  <label>Last Name <span>*</span></label>
                                                  <input type="text" id="last-name" formControlName="lastname" placeholder="Lastname">
                                              </div>
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <label>Country<span>*</span></label>
                                          <select formControlName="pais" id="pais">
                                            <option value="">Select Country</option>
                                            <option *ngFor="let country of listCountrys" value="{{country.country_code}}">{{country.country_name}}</option>
                                        </select>
                                      </div>
                                      <div class="form-group">
                                          <label>Street Address <span>*</span></label>
                                          <input type="text" formControlName="address" id="address" class="mb--15" placeholder="House number and street name">
                                          <input type="text" formControlName="colonia" id="colonia" placeholder="Reference, Apartment, suite, unit, etc. (optonal)">
                                      </div>
                                      <div class="form-group">
                                        <label>Region</label>
                                        <input type="text" formControlName="region" id="region">
                                      </div>
                                      <div class="form-group">
                                          <label>City <span>*</span></label>
                                          <input type="text" formControlName="city" id="city">
                                      </div>
                                      <div class="form-group">
                                          <label>Phone <span>*</span></label>
                                          <input type="tel" formControlName="phone" id="phone">
                                      </div>
                                      <div class="form-group">
                                          <label>Email Address <span>*</span></label>
                                          <input type="email" formControlName="email" id="email">
                                      </div>
                                      <div class="form-group">
                                          <label>Notes (optional)</label>
                                          <textarea formControlName="notes" id="notes" rows="2" placeholder="Notes about your order, e.g. speacial notes for delivery."></textarea>
                                      </div>
                                      <div class="row">
                                        <div class="col-6">
                                          <button *ngIf="boton == 'Update'" type="button" (click)="clean()" class="axil-btn btn-bg-secondary">Cancelar</button>
                                        </div>
                                        <div class="col-6">
                                          <button type="submit" (click)="registrarDireccion()" class="axil-btn btn-bg-primary checkout-btn">{{boton}} Address</button>
                                        </div>
                                      </div>
                                    </div>
                                    </form>
                              </div>
                          </div>
                          <div class="tab-pane fade" id="nav-account" role="tabpanel">
                              <div class="col-lg-9">
                                  <div class="axil-dashboard-account">
                                      <form class="account-details-form">
                                          <div class="row">
                                              <div class="col-lg-6">
                                                  <div class="form-group">
                                                      <label>First Name</label>
                                                      <input type="text" class="form-control" value="Annie">
                                                  </div>
                                              </div>
                                              <div class="col-lg-6">
                                                  <div class="form-group">
                                                      <label>Last Name</label>
                                                      <input type="text" class="form-control" value="Mario">
                                                  </div>
                                              </div>
                                              <div class="col-12">
                                                  <div class="form-group mb--40">
                                                      <label>Country/ Region</label>
                                                      <select class="select2">
                                                          <option value="1">United Kindom (UK)</option>
                                                          <option value="2">United States (USA)</option>
                                                          <option value="3">México (MX)</option>
                                                          <option value="4">United Arab Emirates (UAE)</option>
                                                          <option value="4">Australia</option>
                                                      </select>
                                                      <p class="b3 mt--10">This will be how your name will be displayed in the account section and in reviews</p>
                                                  </div>
                                              </div>
                                              <div class="col-12">
                                                  <h5 class="title">Password Change</h5>
                                                  <div class="form-group">
                                                      <label>Password</label>
                                                      <input type="password" class="form-control">
                                                  </div>
                                                  <div class="form-group">
                                                      <label>New Password</label>
                                                      <input type="password" class="form-control">
                                                  </div>
                                                  <div class="form-group">
                                                      <label>Confirm New Password</label>
                                                      <input type="password" class="form-control">
                                                  </div>
                                                  <div class="form-group mb--0">
                                                      <input type="submit" class="axil-btn" value="Save Changes">
                                                  </div>
                                              </div>
                                          </div>
                                      </form>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- End My Account Area  -->

  <!-- Start Axil Newsletter Area  -->
  <div class="axil-newsletter-area axil-section-gap pt--0">
      <div class="container">
          <div class="etrade-newsletter-wrapper bg_image bg_image--5">
              <div class="newsletter-content">
                  <span class="title-highlighter highlighter-primary2"><i class="fas fa-envelope-open"></i>Newsletter</span>
                  <h2 class="title mb--40 mb_sm--30">Get weekly update</h2>
                  <div class="input-group newsletter-form">
                      <div class="position-relative newsletter-inner mb--15">
                          <input placeholder="example@gmail.com" type="text">
                      </div>
                      <button type="submit" class="axil-btn mb--15">Subscribe</button>
                  </div>
              </div>
          </div>
      </div>
      <!-- End .container -->
  </div>
  <!-- End Axil Newsletter Area  -->
</main>
