<main class="main-wrapper">

  <!-- Start Checkout Area  -->
  <div class="axil-checkout-area axil-section-gap">
      <div class="container">
              <div class="row">
                  <div class="col-lg-6">
                      <div class="axil-checkout-notice">
                         <div class="tab-pane" id="nav-address" role="tabpanel">
                                    <div class="axil-dashboard-address">
                                        <p class="notice-text">The following addresses will be used on the checkout page by default.</p>
                                        <div class="row row--30">
                                          <ng-container *ngFor="let list_address of listAdressClient; let i=index">
                                              <div class="col-lg-6">
                                                <div class="address-info mb--40">
                                                  <div class="addrss-header d-flex align-items-center justify-content-between">
                                                    <h4 class="title mb-0">Address: #{{ i+1 }}</h4>
                                                    <a (click)="selecDireccion( i )" class="address-edit"><i class="far fa-edit"></i></a>
                                                  </div>
                                                  <ul class="address-details">
                                                    <li>Name: {{list_address.name}}  {{list_address.lastname}} </li>
                                                    <li>Email: {{list_address.email}} </li>
                                                    <li>Phone: {{list_address.phone}} </li>
                                                    <li>{{list_address.address}} </li>
                                                    <li>{{list_address.city}} {{list_address.region}} {{list_address.country_name}} </li>
                                                  </ul>
                                                </div>
                                              </div>
                                            </ng-container>
                                        </div>
                                    </div>
                          </div>
                      </div>
                      <form [formGroup]="grupoForm" class="singin-form">
                        <div class="axil-checkout-billing">
                          <h4 class="title mb--40">Billing details</h4>
                          <div class="row">
                              <div class="col-lg-6">
                                  <div class="form-group">
                                      <label>First Name <span>*</span></label>
                                      <input type="text" id="first-name" formControlName="name" placeholder="Name">
                                  </div>
                              </div>
                              <div class="col-lg-6">
                                  <div class="form-group">
                                      <label>Last Name <span>*</span></label>
                                      <input type="text" id="last-name" formControlName="lastname" placeholder="Lastname">
                                  </div>
                              </div>
                          </div>
                          <div class="form-group">
                              <label>Country<span>*</span></label>
                              <select formControlName="pais" id="pais">
                                <option value="">Select Country</option>
                                <option *ngFor="let country of listCountrys" value="{{country.country_code}}">{{country.country_name}}</option>
                            </select>
                          </div>
                          <div class="form-group">
                              <label>Street Address <span>*</span></label>
                              <input type="text" formControlName="address" id="address" class="mb--15" placeholder="House number and street name">
                              <input type="text" formControlName="colonia" id="colonia" placeholder="Reference, Apartment, suite, unit, etc. (optonal)">
                          </div>
                          <div class="form-group">
                            <label>Region</label>
                            <input type="text" formControlName="region" id="region">
                          </div>
                          <div class="form-group">
                              <label>City <span>*</span></label>
                              <input type="text" formControlName="city" id="city">
                          </div>
                          <div class="form-group">
                              <label>Phone <span>*</span></label>
                              <input type="tel" formControlName="phone" id="phone">
                          </div>
                          <div class="form-group">
                              <label>Email Address <span>*</span></label>
                              <input type="email" formControlName="email" id="email">
                          </div>
                          <div class="form-group">
                              <label>Notes (optional)</label>
                              <textarea formControlName="notes" id="notes" rows="2" placeholder="Notes about your order, e.g. speacial notes for delivery."></textarea>
                          </div>
                          <button type="submit" (click)="registrarDireccion()" class="axil-btn btn-bg-primary checkout-btn">{{boton}} Address</button>
                          <button *ngIf="boton == 'Update'" type="button" (click)="clean()" class="axil-btn btn-bg-secondary">Cancelar</button>
                        </div>
                        </form>

                        </div>
                        <div class="col-lg-6">
                        <div class="axil-order-summery order-checkout-summery">
                        <h5 class="title mb--20">Your Order</h5>
                        <div class="summery-table-wrap">
                            <table class="table summery-table">
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>Subtotal</th>
                                    </tr>
                                </thead>
                                <tbody>
                                  <ng-container *ngFor="let cart of listCart">
                                    <tr class="order-product">
                                      <td>{{cart.titulo}} <span class="quantity">{{cart.cantidad}}</span></td>
                                      <td>${{cart.total}}</td>
                                    </tr>
                                  </ng-container>
                                    <tr class="order-subtotal">
                                        <td>Subtotal</td>
                                        <td>{{totalCart}} USD</td>
                                    </tr>
                                    <!-- <tr class="order-shipping">
                                        <td colspan="2">
                                            <div class="shipping-amount">
                                                <span class="title">Shipping Method</span>
                                                <span class="amount">$35.00</span>
                                            </div>
                                            <div class="input-group">
                                                <input type="radio" id="radio1" name="shipping" checked>
                                                <label for="radio1">Free Shippping</label>
                                            </div>
                                            <div class="input-group">
                                                <input type="radio" id="radio2" name="shipping">
                                                <label for="radio2">Local</label>
                                            </div>
                                            <div class="input-group">
                                                <input type="radio" id="radio3" name="shipping">
                                                <label for="radio3">Flat rate</label>
                                            </div>
                                        </td>
                                    </tr> -->
                                    <tr class="order-total">
                                        <td>Total</td>
                                        <td class="order-total-amount">{{totalCart}} USD</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="order-payment-method">
                            <!-- <div class="single-payment">
                                <div class="input-group">
                                    <input type="radio" id="radio4" name="payment">
                                    <label for="radio4">Direct bank transfer</label>
                                </div>
                                <p>Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order will not be shipped until the funds have cleared in our account.</p>
                            </div> -->
                            <div class="single-payment">
                                <div class="input-group">
                                    <input type="radio" id="radio5" name="payment">
                                    <label for="radio5">Waynance</label>
                                </div>
                                <p>Pay with cash upon delivery.</p>
                            </div>
                            <div class="single-payment">
                                <div class="input-group justify-content-between align-items-center">
                                    <input type="radio" id="radio6" name="payment" checked>
                                    <label for="radio6">Paypal</label>
                                </div>
                                <p>Pay via PayPal; you can pay with your credit card if you don’t have a PayPal account.</p>
                            </div>
                        </div>

                        <div #paypal>

                        </div>
                      </div>

                  </div>
              </div>
      </div>
  </div>
  <!-- End Checkout Area  -->

</main>
