<div class="axil-signin-area">

  <!-- Start Header -->
  <div class="signin-header">
      <div class="row align-items-center">
          <div class="col-sm-4">
              <a [routerLink]="['/']" class="site-logo"><img src="./assets/images/logo/logo.png" alt="logo"></a>
          </div>
          <div class="col-sm-8">
              <div class="singin-header-btn">
                  <p>Not a member?</p>
                  <a routerLink="/auth/registro" class="axil-btn btn-bg-secondary sign-up-btn">Sign Up Now</a>
              </div>
          </div>
      </div>
  </div>
  <!-- End Header -->

  <div class="row">
      <div class="col-xl-4 col-lg-6">
          <div class="axil-signin-banner bg_image bg_image--9">
              <h3 class="title">We Offer the Best Products</h3>
          </div>
      </div>
      <div class="col-lg-6 offset-xl-2">
          <div class="axil-signin-form-wrap">
              <div class="axil-signin-form">
                  <h3 class="title">Sign in to eTrade.</h3>
                  <p class="b2 mb--55">Enter your detail below</p>
                  <form [formGroup]="grupoForm" class="singin-form">
                      <div class="form-group">
                          <label>Email</label>
                          <input type="email"  formControlName="email" class="form-control" name="email" value="annie@example.com">
                      </div>
                      <div class="form-group">
                          <label>Password</label>
                          <input type="password" formControlName="password" class="form-control" name="password" value="123456789">
                      </div>
                      <div class="form-group d-flex align-items-center justify-content-between">
                        <button type="button" class="axil-btn btn-bg-primary submit-btn" (click)="login()">Sign In</button>
                          <a href="forgot-password.html" class="forgot-btn">Forget password?</a>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>
