/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.spacer {
    flex: 1 1 auto;
}

img {
    width: 100%;
    border-radius: 5px;
    margin: 10px;
}

.text-message-notification{
  color: white;
  font-weight: bold;
  padding: 40px;
  font-size: 12px;
}
.notification-ecommerce {
  position: fixed;
  left: 70%;
  top: 10%;
  background-color: #d82525;
  max-width: 300px;
  /* #ffebeb; */
  border-radius: 1rem;
  overflow: hidden;
  display: none;
  justify-content: center;
  align-items: center;
  /* gap: 1rem; */
}

.notification__close {
  background-color: #d82525;
  /* #ffc2c2; */
  border: aliceblue;
  max-width: 50px;
  padding: 1rem;
  display: flex;
  cursor: pointer;
  color: white;
}
.notification__close svg {
  /* width: .9rem; */
  fill: #a687ff;
}

.notification-success {
  position: fixed;
  left: 70%;
  top: 10%;
  background-color: #179b3c;
  max-width: 300px;
  /* #ffebeb; */
  border-radius: 1rem;
  overflow: hidden;
  display: none;
  justify-content: center;
  align-items: center;
  /* gap: 1rem; */
}

.notification__close_success {
  background-color: #179b3c;
  /* #ffc2c2; */
  border: aliceblue;
  padding: 1rem;
  display: flex;
  max-width: 50px;
  cursor: pointer;
  color: white;
}

.notification__warning {
  width: 1.5rem;
  margin-left: 1rem;
  fill: #e00000;
}

.notification-show {
  animation: warning 600ms ease-in-out forwards;
  display: flex;
}
.imagen-tam{
  width: 255px;
  height: 255px;
  object-fit: cover;
}
@keyframes warning {
  0% {
    opacity: 0;
    top: 2rem;
  }
  5% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    top: 4rem;
  }
}
